$elHeight: 40px;
$mainFont: 'Roboto', sans-serif;
$bdRadius: 3px;
$bdStyle: 1px solid #bdbcbc;
$fontColor: rgba(52, 49, 49, 0.9);
$activeColor: #1cacd4;
$maxBlockWidth: 350px;
$defaultTransition: .2s ease-out;