
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

$elHeight: 40px;
$mainFont: 'Roboto', sans-serif;
$bdRadius: 3px;
$bdStyle: 1px solid #bdbcbc;
$fontColor: rgba(52, 49, 49, 0.9);
$activeColor: #1cacd4;

.converter {
  font-family: $mainFont;
  background-color: #eff1f5;
  color: $fontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  &__currency-block {
    display: flex;
    flex-direction: row;
    max-width: 270px;
    width: 100%;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__input-block {
    position: relative;

    input {
      font-family: $mainFont;
      font-size: 16px;
      color: $fontColor;
      height: $elHeight;
      width: 100%;
      box-sizing: border-box;
      border: $bdStyle;
      border-top-left-radius: $bdRadius;
      border-bottom-left-radius: $bdRadius;
      outline: none;
      padding: 0;
      padding-left: 10px;

      &:active {
        border-color: $activeColor;
      }

      &:focus {
        border-color: $activeColor;
      }
    }
  }

  &__input-clear {
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 32px;
    font-weight: 300;
    line-height: $elHeight;
    cursor: pointer;
    margin-right: 5px;
    opacity: .7;
  }

  &__currency-type-block {
    position: relative;

    i {
      font-family: FontAwesome;
      font-size: 24px;
    }
  }

  &__selected-currency {
    position: absolute;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: $elHeight;
    background-color: #fff;
    color: $fontColor;
    border: $bdStyle;
    box-sizing: border-box;
    height: $elHeight;
    width: 75px;
    cursor: pointer;
    border-top-right-radius: $bdRadius;
    border-bottom-right-radius: $bdRadius;
    border-left: none;
    margin: 0;

    i {
      margin-left: 5px;
      position: absolute;
      line-height: $elHeight;
      transition: .2s ease-out;
    }
  }

  &__currency-list {
    list-style: none;
    border: $bdStyle;
    position: absolute;
    top: 23px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    width: 76px;
    margin-left: -1px;
    border-radius: 0 $bdRadius $bdRadius $bdRadius;
    cursor: pointer;
    z-index: 100;

    &-item{
      text-align: center;
      border-bottom: $bdStyle;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: .3s ease-out;

      &:last-child{
        border-bottom: none;
      }
    }

    &--show{
      animation: showBlock .2s ease-out forwards ;
    }
    &--out-border{
      transform: translateX(-500px);
    }
    &--hide{
      animation: hideBlock .2s ease-out forwards,
      translate .2s ease-out .2s forwards;
    }
  }
}





@keyframes showBlock {
  from{
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes hideBlock {
  from{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes translate {
  from{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-500px);
  }
}