@import "../../styles/variables";
@import "../../styles/font-awesome";

.selected-currency-button{
  position: relative;
  font-family: $mainFont;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  width: 75px;
  height: $elHeight;
  line-height: $elHeight;
  background-color: #fff;
  color: $fontColor;
  border: $bdStyle;
  box-sizing: border-box;
  border-top-right-radius: $bdRadius;
  border-bottom-right-radius: $bdRadius;
  margin: 0;
  transition: $defaultTransition;
  cursor: pointer;
  border-left-color: transparent;

  &.active{
    color: $activeColor;

    i{
      transform: rotate(180deg);
    }
  }
  
  &:hover, &:focus{
    outline: none;
    border-color: $activeColor;
    color: $activeColor;
    z-index: 1000;
  }

  i{
    font-size: 24px;
    margin-left: 5px;
    position: absolute;
    line-height: $elHeight;
    transition: $defaultTransition;
  }
}